* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(140deg, #4ef3ff, #006e86);
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    padding: 50px;
    height: 100%;
}

.container>* {
    background-color: rgba(255, 255, 255, 0.196);
    height: 100%;
    border-radius: 10px;
}

.wheather-container {
    padding: 60px 25px;
    width: 100%;
}

.wheather-container>.form {
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
}

.form>input {
    flex-basis: 85%;
    padding: 5px 15px;
    border: none;
    font-size: 17px;
    outline: none;
}

.form>button {
    border: none;
    flex-basis: 15%;
    outline: none;
    height: 100%;
    cursor: pointer;
    padding: 0px 10px;
    font-size: 18px;
    background-color: rgb(222, 222, 222);
}

.wheather-img {
    display: flex;
    padding: 60px 0px 30px;
    justify-content: center;
}

.wheather-img>img {
    width: 160px;
    height: 160px;
}

.main-wheather-details {
    margin-left: 20px;
}

.main-wheather-details>h1 {
    font-size: 55px;
    font-weight: 500;
}

.main-wheather-details>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-wheather-details>div>p {
    margin: 10px 0px;
    font-size: 18px;
}

.today-wheather {
    padding: 40px 20px;
    overflow-y: scroll;
}

.today-wheather::-webkit-scrollbar {
    display: none;
}

.today-wheather>h1 {
    margin: 20px 10px;
    color: #ffffff;
    font-size: 32px;
}

.boxes {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 82%;
}

.box {
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 0px;
    height: 100%;
    gap: 10px;
    background-color: #ffffff63;
}

.box>h3 {
    font-size: 30px;
}

.box>i {
    font-size: 50px;
    margin: 12px 0px;
    color: #1c1c1c6c;
}

.sun {
    display: flex;
    align-items: center;
    margin: 20px 0px;
    gap: 20px;
}

.sun>i {
    font-size: 50px;
}

.sun>div {
    font-size: 18px;
}

@media (max-width:1200px) {
    .container {
        grid-template-columns: 0.7fr 3fr;
    }

    .box>h3 {
        font-size: 25px;
    }

    .box>i,
    .sun>i {
        font-size: 42px;
    }
}

@media (max-width:960px) {

    .today-wheather {
        padding: 20px;
    }

    .container {
        grid-template-columns: 0.5fr 3fr;
    }

    .boxes {
        grid-template-columns: 1fr 1fr;
        height: 75%;
    }

    .box>h3 {
        font-size: 20px;
    }

    .box>i,
    .sun>i {
        font-size: 36px;
    }
}

@media (max-width:760px) {

    body{
        height: auto;
    }

    .container {
        grid-template-columns: 1fr;
    }
}

@media (max-width:500px) {
    .container{
        padding: 50px 20px;
    }
    .boxes {
        grid-template-columns: 1fr;
    }
}